.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
dominion.iml
.name
compiler.xml
gradle.xml
misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
app/app.iml
